<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="/js/segmentgen.js" defer>
    </script>
    new survey

    <div>
        <div class="segmentContainer" id="segmentContainer">

        </div>
        <button onclick="generateSegment()">Add question</button>
    </div>

    <!-- <form action="" method="post">
        
    </form>
     -->
    
</body>
</html>