<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="/js/segmentgen.js" defer>
    </script>
    new survey


        

    <form action="/success" method="post">  
        <div>
            <div class="segmentContainer" id="segmentContainer">
    
            </div>
            <button type="button" onclick="generateSegment()">Add question</button>
        </div>            
        <button>create</button>
    </form>

    
    
</body>
</html>